.App {
  min-height: 100vh;
  background-color: #b7bfcf;
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Description {
  font-size: calc(5px + 1vmin);
  font-style: italic;
}